
<h2>Favorite Colors</h2>
<ul>
   {{#each favorites as |favorite| }}
 <li>{{favorite}}</li>
   {{/each}}
</ul>

<h2>Favorite Links</h2>
<ul>
   {{#each links as |link| }}
 <li><a href="{{link.url}}" target="_blank">{{link.text}}</a></li>
   {{/each}}
</ul>
